/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Estilos para os ícones e interface */
.interface-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.icon {
    text-align: center;
}

.icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.icon p {
    font-size: 14px;
    color: #333;
}
