/* Estilos para a página de perfil */
#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-info {
    text-align: center;
}

.profile-info img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile-details {
    margin-top: 20px;
    text-align: left;
}

.profile-details ul {
    list-style: none;
    padding: 0;
}

.profile-details li {
    margin-bottom: 10px;
}

#edit-profile {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#edit-profile:hover {
    background-color: #0056b3;
}
